*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Nunito Sans', sans-serif;
	
}
.side-menu{
	display: none;
}
/* NAVBAR */
.navbar{
	height: 60px;
	width: auto;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	position: sticky;
	z-index: 1;
	bottom: 0;
	box-sizing: border-box;
	
}
.navbar .nav-link{
	font-size: 11px;
	display: flex;
	padding: 0px 2px;
	margin: 0;
}
.navbar .nav-link a{
	padding: 15px 10px;
	color: #808080;
}
.navbar .nav-link i{
	margin-left: 12px;
}
.navbar .nav-link:hover{
	background: #e6e3e3a8;
	color: #0e0e2e;
	transition: .7s;
}
.container{
	padding: 15px;
	grid-area: right;
}

.container .head{
	font-size: 30px;
}
.money{
	display: block;
	height: 130px;
	width: auto;
	background: linear-gradient(to bottom, #07adad, #032735);
	color: white;
	font-size: 14px;
	line-height: 30px;
	box-sizing: border-box;
	padding: 15px;
	margin: 15px 0;
	border-radius: 20px;
}
.tag{
	margin-bottom: 15px;
}
.naira-value{
	font-size: 40px;
	margin-top: 10px;
}

/* SAVINGS */
.savings{
	height: 100px;
	width: auto;
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	justify-items: start; 
	background: #e6e3e3a8;
	color: #383744;
	box-sizing: border-box;
	padding: 15px;
	margin: 15px 0;
	border-radius: 5px;
}
.savings .fa-piggy-bank{
	align-items: left;
	font-size: 18px;
	color: #4fd152;
}
.savings .fa-suitcase{
	font-size: 18px;
	color: #4a547e;
}
.center{
	font-size: 14px;
	display: justify;
	align-items: center;
}
.right{
	font-size: 14px;
}
.head2{
	font-size: 22px;
	margin-top: 30px;
}
.view{
	display: flex;
	justify-content: center;
}
a{
	text-decoration: none;
	color: black;
}
.facilitator{
	width: auto;
	height: 400px;
	background: white;
	margin-top: 35px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}
.facilitator .p1{
	font-size: 28px;
	padding: 20px 0 5px;
	text-align: center;
}
.facilitator .p2{
	font-size: 16px;
	text-align: center;
}
img{
	width: 250px;
	height: 200px;
	
}
.image{
	display: flex;
	justify-content: center;
}
.btn{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
.btn1{
	font-size: 12px;
	font-weight: bold;
	padding: 15px 27px;
	color: #fff;
	background: #4fd152; 
	border: none;
	border-radius: 50px;
}
	
@media screen and (min-width:700px){
	.side-menu{
		position: fixed;
		background: #0e0e2e;
		width: 17%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 80px 5px 90px 0; 
	}
	.side-menu li{
		list-style: none;
		font-size: 14px;
		padding: 10px 50px 10px 20px;
		margin-left: 20px;
		display: flex;
		align-items: center;
	}
	.side-menu a{
		text-decoration: none;
		color: #fff;
		padding: 10px 20px 10px 10px;
		border-radius: 5px;
	}
	.side-menu a:hover{
		color: #0e0e2e!important;
		background: #fff;
		transition: .5s;
	}
	.side-menu .logout{
		color: #fff;
		font-size: 14px;
		padding: 10px 15px;
		border-radius: 5px;
	}
	.bk, .fa-coins, .fa-project-diagram, .fa-user, .fa-home, .fa-sign-out-alt{
	font-size: 12px;
	margin-right: 10px;
	}
	.container{
		width: 80%;
		position: relative;
		left: 18%;
		box-sizing: border-box;
	}
	.navbar{
		display: none;
	}
	.firstgrid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 20px;
	}
	.main{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 10px;
	}
	
	
}